---
layout: default
---

  {% include header.html %}

  <div class="c-masthead">
    <div class="c-masthead__background" style="background-image: url('images/masthead.jpg');"></div>
    <div class="c-masthead__content [ o-layout-flex o-layout-flex--center ]">
      <div class="o-wrapper">
        <article class="c-masthead__article">
          <h1>Open Call 2017</h1>
          <p class="c-masthead__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
          <a class="c-button c-masthead__button" href="/">
            <span class="c-button__text">Register</span>
            <span class="c-button__icon">
              <svg class="c-button__arrow">
                <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>
          </a>
      </div>
    </div>
  </div>

  <section class="c-news c-band" data-section="News">
    <div class="o-wrapper">
      <div class="[ o-layout-flex o-layout-flex--gutters ]">
        <div class="o-layout-flex__item u-flex-1/2">
          <article class="c-story c-story--large">
            <a class="c-story__link" href="/">
              <div class="c-story__image-wrapper">
                <img class="c-story__media2" src="images/placeholder-square.jpg">
              </div>
              <div class="c-story__content">
                <div class="c-story__meta">
                  <strong class="c-story__category">News</strong>
                  <time class="c-story__date">17 April 2017</time>
                </div>
                <h2 class="c-story__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
              </div>
            </a>
          </article>
        </div>
        <div class="o-layout-flex__item u-flex-1/2">
          <article class="c-story">
            <a class="c-story__link" href="/">
              <div class="o-layout-flex">
                <div class="c-story__image-wrapper o-layout-flex__item">
                  <img class="c-story__media2" src="images/placeholder-square.jpg">
                </div>
                <div class="c-story__content o-layout-flex__item">
                  <div class="c-story__meta">
                    <strong class="c-story__category">News</strong>
                    <time class="c-story__date">17 April 2017</time>
                  </div>
                  <h2 class="c-story__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                  <p class="c-story__text">Praesent tempus nec leo eu viverra. Sed venenatis justo quis placerat sodales</p>
                </div>
              </div>
            </a>
          </article>
          <article class="c-story">
            <a class="c-story__link" href="/">
              <div class="o-layout-flex">
                <div class="c-story__image-wrapper o-layout-flex__item">
                  <img class="c-story__media2" src="images/placeholder-square.jpg">
                </div>
                <div class="c-story__content o-layout-flex__item">
                  <div class="c-story__meta">
                    <strong class="c-story__category">News</strong>
                    <time class="c-story__date">17 April 2017</time>
                  </div>
                  <h2 class="c-story__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                  <p class="c-story__text">Praesent tempus nec leo eu viverra. Sed venenatis justo quis placerat sodales</p>
                </div>
              </div>
            </a>
          </article>
        </div>
      </div>
      <a class="c-button c-news__more" href="/">
        <span class="c-button__text">More News</span>
        <span class="c-button__icon">
          <svg class="c-button__arrow">
            <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
          </svg>
        </span>
      </a>
    </div>
  </section>

  <section aria-labelledby="about-headline" class="c-about" data-section="About">
    <div class="o-wrapper">
      <div class="[ c-band c-band--left-1/3 ] u-absolute-right">
        <div class="c-about__content">
        <h2 id="about-headline">The Festival</h2>
        <div class="c-about__body [ o-layout-flex o-layout-flex--gutters-wide ]" style="justify-content: flex-end;">
          <div class="o-layout-flex__item u-flex-1/3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis ligula felis, non iaculis odio egestas
              id. Donec varius ex ac leo gravida laoreet. Maecenas ac nibh nec erat ornare semper id ac sem. Integer nec
              vehicula quam, in maximus nisi. Ut aliquam eros non tortor mollis, at porta mauris gravida. Suspendisse potenti.</p>
              <p>Duis tortor erat, rutrum non luctus ac, molestie a risus. Mauris luctus tellus lectus, vel blandit ex tincidunt
              id.</p>
          </div>
          <div class="o-layout-flex__item u-flex-1/3">
            <p>Nulla dapibus sagittis commodo. Suspendisse vehicula ligula leo, sit amet tincidunt metus sollicitudin quis.
              In hac habitasse platea dictumst. Ut luctus sapien risus, a volutpat quam porta vitae. Nullam placerat elementum
              lectus id pulvinar. Morbi interdum viverra velit, id congue mauris pretium et. Sed maximus ex neque, eu rutrum
              diam convallis ultrices.</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  
  {% include footer.html %}

</body>

</html>