---
layout: has-masthead
---

<article class="c-article">
  <header class="c-article__header c-masthead js-cover-media">
    <figure class="c-masthead__media">
      <img src="images/placeholder-square.jpg" alt="">
      <figcaption class="c-masthead__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<span class="c-masthead__credit">Julian Dawson for Carlisle Photo</span></figcaption>
    </figure>
    <div class="c-masthead__content">
      <div class="o-wrapper">
        <h1 class="c-masthead__headline">Phasellus et augue ut nisl cursus fermentum</h1>
        <p class="c-masthead__text">Quisque in justo tellus. Suspendisse sit amet aliquam eros vitae efficitur arcu.</p>
      </div>
    </div>
  </header>
  <main class="c-article__body">
    <div class="c-band">
      <div class="o-wrapper o-wrapper--narrow">
        <div class="o-layout-flex">
          <div class="o-layout-flex__item u-flex-1/2">
            <span class="c-masthead__badge [ c-badge c-badge--article ]">News</span>
            <p class="c-article__author">By Julian Dawson</p>
            <time class="c-article__date">17 April 2017</time>
          </div>
          <div class="c-article__share o-layout-flex__item u-flex-1/2">
            <span>Share On:</span>
            <div class="c-article__social c-social">
              <ul class="o-list-inline">
                <li class="o-list-inline__item">
                  <a aria-label="Twitter" class="c-social__link" href="/" target="_blank">
                    <svg aria-hidden="true" class="c-social__icon" role="img">
                      <use xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a>
                </li>
                <li class="o-list-inline__item">
                  <a aria-label="Facebook" class="c-social__link" href="/" target="_blank">
                    <svg aria-hidden="true" class="c-social__icon" role="img">
                      <use xlink:href="#icon-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p>
          <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in justo tellus. Suspendisse sit amet aliquam eros,
            vitae efficitur arcu. Donec ligula dui, facilisis eget tincidunt eget, malesuada ac odio. Pellentesque a lacus non
            mi eleifend pretium. Maecenas in nisl metus. Maecenas purus orci, sodales in egestas ut, auctor eget lectus. Etiam
            eget sodales ante, in facilisis nisi. Vivamus nec vulputate ex, sed blandit diam. Mauris in dictum neque. Pellentesque
            sed nisi ornare, maximus nibh nec, varius mi.</strong></p>

        <h3>Lorem ipsum dolor</h3>
        <p>Maecenas egestas pharetra leo, id convallis turpis tristique ut. Morbi ac leo nec massa tincidunt fringilla. Aliquam
          facilisis suscipit aliquam. Phasellus et augue ut nisl cursus fermentum. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. Nam luctus elit a sem aliquam, ac imperdiet magna eleifend. Suspendisse potenti. Praesent non
          sem viverra, rhoncus quam sit amet, egestas neque.</p>

        <figure>
          <img src="images/placeholder-square.jpg" alt="">
          <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Julian Dawson for Carlisle Photo</figcaption>
        </figure>

        <p>Etiam ut mollis nisl, et sodales mi. Etiam nec consequat erat. Donec auctor quam augue, vel gravida tortor faucibus
          sed. Mauris vel fringilla augue. Nam efficitur, elit id efficitur iaculis, massa arcu suscipit ipsum, a euismod
          elit orci et libero. Nulla efficitur tempor diam, in bibendum felis efficitur eu. Aliquam quis luctus magna. Aenean
          vitae tellus ut risus finibus commodo egestas rhoncus magna. Nulla facilisi.</p>

        <ul class="o-list-bare">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Facilisis eget tincidunt eget</li>
        </ul>
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Facilisis eget tincidunt eget</li>
        </ol>

        <h3>Mauris in dictum</h3>
        <p>Phasellus pulvinar, lorem a suscipit gravida, tellus elit tristique tortor, a placerat sapien est eu lorem. Vivamus
          in lorem eget ante tristique imperdiet vitae a urna. Integer sit amet felis nisi. Cras tortor ante, convallis tempus
          dui a, ullamcorper suscipit dui. Nulla vulputate id mauris eget euismod. Integer feugiat a nisi non vestibulum.
          Curabitur id nulla et felis malesuada vulputate. In eget tortor id ligula suscipit vehicula et ut libero. Morbi
          molestie cursus ligula sed tempus. Praesent fringilla malesuada leo, et scelerisque augue sollicitudin at. Duis
          tellus velit, congue sed molestie ac, dignissim sit amet nunc. Phasellus metus leo, dictum id purus non, molestie
          tempor elit. Sed a arcu sit amet ligula placerat tempor vitae ac tellus. Pellentesque mi purus, consectetur ac
          massa semper, vulputate elementum diam. Cras blandit rutrum elit, nec volutpat tortor. Donec at mi faucibus, vehicula
          ex quis, mattis justo.</p>
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Facilisis eget tincidunt eget</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
          <li>Massa arcu suscipit ipsum</li>
        </ol>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in justo tellus. Suspendisse sit amet aliquam eros,
          vitae efficitur arcu. Donec ligula dui, facilisis eget tincidunt eget, malesuada ac odio. Pellentesque a lacus
          non mi eleifend pretium.</p>
      </div>
    </div>
  </main>
</article>

<section class="[ c-band c-band--dark ]">
  <div class="o-wrapper">
    <h2>Related</h2>
    <div class="o-layout-flex">
      <div class="o-layout-flex__item u-flex-1/2">

        {% include teaser.html %}

      </div>
      <div class="o-layout-flex__item u-flex-1/2">

        {% include teaser.html %}

      </div>
    </div>
  </div>
</section>
