---
layout: default
---

  {% include header.html %}

  <div class="c-band c-band--light">
    <div class="o-wrapper">
      <h2>News</h2>
    </div>
  </div>

  <div class="c-band">
    <div class="o-wrapper">
      <article class="c-story">
        <a class="c-story__link" href="/">
          <div class="o-layout-flex">
            <div class="c-story__image-wrapper o-layout-flex__item">
              <img class="c-story__media2" src="images/placeholder-square.jpg">
            </div>
            <div class="c-story__content o-layout-flex__item">
              <div class="c-story__meta">
                <strong class="c-story__category">News</strong>
                <time class="c-story__date">17 April 2017</time>
              </div>
              <h2 class="c-story__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
              <p class="c-story__text">Praesent tempus nec leo eu viverra. Sed venenatis justo quis placerat sodales</p>
            </div>
          </div>
        </a>
      </article>

      <article class="c-story">
        <a class="c-story__link" href="/">
          <div class="o-layout-flex">
            <div class="c-story__image-wrapper o-layout-flex__item">
              <img class="c-story__media2" src="images/placeholder-square.jpg">
            </div>
            <div class="c-story__content o-layout-flex__item">
              <div class="c-story__meta">
                <strong class="c-story__category">News</strong>
                <time class="c-story__date">17 April 2017</time>
              </div>
              <h2 class="c-story__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
              <p class="c-story__text">Praesent tempus nec leo eu viverra. Sed venenatis justo quis placerat sodales</p>
            </div>
          </div>
        </a>
      </article>      
    </div>
  </div>
  
  {% include footer.html %}

</body>

</html>