/*------------------------------------*\
 # FONTS
\*------------------------------------*/

// font weight
$font-weight-normal:      400 !default;
$font-weight-medium:      600 !default;
$font-weight-bold:        700 !default;
$font-weight-black:       900 !default;

// font base
$font-base-family:        'Lato', sans-serif !default;
$font-base-line-height:   1 !default;
$font-base-size:          1rem !default; // Assumes browser default `16px`
$font-base-weight:        $font-weight-normal !default;

// font headings
$font-h1-size:            7.5rem !default;
$font-h1-weight:          $font-weight-black !default;

$font-h2-size:            3.75rem !default;
$font-h2-weight:          $font-weight-black !default;

$font-h3-size:            1.875rem !default;
$font-h3-weight:          $font-weight-black !default;
