/*------------------------------------*\
 # COLORS
\*------------------------------------*/

// base colors
$color-black:                 #000 !default;
$color-blue:                  #80d8ff !default;
$color-grey:                  #666666 !default;
$color-grey-dark:             #222222 !default;
$color-grey-light:            #f1f1f1 !default;
$color-purple:                #b388ff !default;
$color-red:                   #ff0024 !default;
$color-white:                 #fff !default;

// semantic colors
$color-brand-primary:         $color-red !default;
$color-brand-secondary:       $color-blue !default;
$color-brand-tertiary:        $color-purple !default;

// links
$color-links:                 $color-brand-primary !default;
$color-links-hover:           $color-brand-secondary !default;

// body
$color-body:                  $color-grey !default;
$color-body-background:       $color-grey-light !default;
