/*------------------------------------*\
 # GLOBAL
\*------------------------------------*/

// breakpoints
$breakpoints: (
  'desktop': ( min-width: 64rem )
) !default;

// page-head
$page-head-height:          4rem;
$page-head-padding-y:       $spacer * 2;
