<section aria-labelledby="donate-headline" class="c-donate o-layout-flex__item u-flex-1/2">
  <h3 id="donate-headline">Support Carlisle Photo</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut lacus dignissim, iaculis diam aliquet, bibendum
    massa.
  </p>
  <a class="c-donate__button c-button" href="/">
    <span class="c-button__text">Donate</span>
    <span class="c-button__icon">
      <svg class="c-button__arrow">
        <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </span>
  </a>
</section>
