<div class="[ c-band c-band--secondary-tertiary ]">
  <div class="o-wrapper">
    <div class="[ o-layout-flex o-layout-flex--gutters ]">

      <section aria-labelledby="newsletter-headline" class="c-newsletter o-layout-flex__item u-flex-1/2">
        <h3 id="newsletter-headline">Newsletter</h3>
        <p>Stay up to date with the latest news.</p>
        <form action="" method="post">
          <input aria-required="true" class="c-newsletter__input c-input" id="email" placeholder="email address" name="email" type="text">
          <button class="c-newsletter__button c-button" type="submit">
            <span class="c-button__icon">
              <svg class="c-newsletter__arrow c-button__arrow">
                <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>              
          </button>
        </form>
      </section>

      <section aria-labelledby="donate-headline" class="c-donate o-layout-flex__item u-flex-1/2">
        <h3 id="donate-headline">Support Carlisle Photo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut lacus dignissim, iaculis diam aliquet, bibendum
          massa.
        </p>
        <a class="c-donate__button c-button" href="/">
          <span class="c-button__text">Donate</span>
          <span class="c-button__icon">
            <svg class="c-button__arrow">
              <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </span>
        </a>
      </section>

    </div>
  </div>
</div>

<section class="c-partners c-band" data-section="Partners">
  <div class="o-wrapper">
    <ul class="o-list-inline">
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-2.png" alt="Arts Council England">
      </li>
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-1.png" alt="Carlisle City Council">
      </li>
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-3.png" alt="Cumbria County Council">
      </li>
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-4.png" alt="University of Cumbria">
      </li>
    </ul>
  </div>
</section>

<footer class="c-page-foot">
  <div class="o-wrapper">
    <span class="c-page-foot__text">&copy; 2017 Carlisle Photo. Made with <svg aria-label="Heart" class="c-page-foot__heart" role="img"><use xlink:href="#icon-heart" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> in Bath.</span>
    <ul class="c-page-foot__list o-list-inline">
      <li class="o-list-inline__item">
        <a class="c-page-foot__link" href="/">Cookies</a>
      </li>
      <li class="o-list-inline__item">
        <a class="c-page-foot__link" href="/">Privacy Policy</a>
      </li>      
      <li class="o-list-inline__item">
        <a class="c-page-foot__link" href="/">Terms &amp; Conditions</a>
      </li>
    </ul>
  </div>
</footer>