<div class="[ c-band c-band--secondary-tertiary ]">
  <div class="o-wrapper">
    <div class="[ o-layout-flex o-layout-flex--gutters ]">
      <div class="c-subscribe o-layout-flex__item u-flex-1/2">
        <h3>Subscribe</h3>
        <p>Stay up to date with the latest news.</p>
        <form method="post" class="newsletter-form" data-error-message="Sorry there was an error while processing your data." data-success-update-message="Your subscription has been updated."
          data-success-messag1e="You have successfully subscribed to our newsletter." data-error-message-user-exists="This e-mail address is already subscribed to this newsletter."
          action="" novalidate="novalidate">
          <input type="text" name="email" id="email" placeholder="email address" class="c-input c-subscribe__input" aria-required="true">
          <button type="submit" class="c-button c-subscribe__button">
            <span class="c-button__icon">
              <svg class="c-button__arrow">
                <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </span>              
          </button>
        </form>
      </div>
      <div class="c-donate o-layout-flex__item u-flex-1/2">
        <h3>Support Carlisle Photo</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut lacus dignissim, iaculis diam aliquet, bibendum
          massa.
        </p>
        <a class="c-button c-donate__button" href="/">
          <span class="c-button__text">Donate</span>
          <span class="c-button__icon">
            <svg class="c-button__arrow">
              <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<section class="c-sponsors c-band" data-section="Sponsors">
  <div class="o-wrapper">
    <ul class="c-sponsors__list o-list-inline">
      <li class="c-sponsors__item o-list-inline__item">
        <img class="c-sponsors__logo" src="images/sponsors-2.png" alt="">
      </li>
      <li class="c-sponsors__item o-list-inline__item">
        <img class="c-sponsors__logo" src="images/sponsors-1.png" alt="">
      </li>
      <li class="c-sponsors__item o-list-inline__item">
        <img class="c-sponsors__logo" src="images/sponsors-3.png" alt="">
      </li>
      <li class="c-sponsors__item o-list-inline__item">
        <img class="c-sponsors__logo" src="images/sponsors-4.png" alt="">
      </li>
    </ul>
  </div>
</section>

<footer class="c-page-foot">
  <div class="o-wrapper">
    <span>Made with <svg aria-label="Heart" class="c-page-foot__heart" role="img"><use xlink:href="#icon-heart" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg> in Bath. &copy; 2017 Carlisle Photo.</span>
    <ul class="c-page-foot__links o-list-inline">
      <li class="o-list-inline__item"><a href="/">Cookie Statement</a></li>
      <li class="o-list-inline__item"><a href="/">Privacy Policy</a></li>
      <li class="o-list-inline__item"><a href="/">Disclaimer</a></li>
      <li class="o-list-inline__item"><a href="/">Terms &amp; Conditions</a></li>
    </ul>
  </div>
</footer>

<script src="/js/jquery.slim.min.js"></script>
<script src="/js/scripts.js"></script>