<header class="c-page-head is-fixed">

  <div class="c-page-menu c-page-head__nav">
    <a class="c-page-menu__logo" href="/">
      <svg aria-hidden="true" class="c-logo" role="img">
        <use xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>

    <a class="c-page-menu__trigger js-page-menu-trigger" href="#trigger:nav">Menu</a>

    <nav class="c-page-menu__nav c-nav-primary">
      <ul class="o-list-bare">
        <li class="c-nav-primary__item">
          <a class="c-nav-primary__link" href="/">News</a>
        </li>
        <li class="c-nav-primary__item">
          <a class="c-nav-primary__link" href="/">Festivals</a>
        </li>
        <li class="c-nav-primary__item">
          <a class="c-nav-primary__link" href="/">Exhibitions</a>
        </li>
        <li class="c-nav-primary__item">
          <a class="c-nav-primary__link" href="/">About</a>
        </li>
        <li class="c-nav-primary__item">
          <a class="c-nav-primary__link" href="/">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="c-page-menu__social c-social">
      <ul class="o-list-inline">
        <li class="o-list-inline__item">
          <a aria-label="Twitter" class="c-social__link c-social__link--first" href="/" target="_blank">
            <svg aria-hidden="true" class="c-social__icon" role="img">
              <use xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </li>
        <li class="o-list-inline__item">
          <a aria-label="Facebook" class="c-social__link" href="/" target="_blank">
            <svg aria-hidden="true" class="c-social__icon" role="img">
              <use xlink:href="#icon-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </li>
        <li class="o-list-inline__item">
          <a aria-label="Instagram" class="c-social__link c-social__link--last" href="/" target="_blank">
            <svg aria-hidden="true" class="c-social__icon" role="img">
              <use xlink:href="#icon-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

</header>