<header class="c-page-head is-fixed">
  <div class="c-navbar [ o-layout-flex o-layout-flex--space-between o-layout-flex--center ]">
    <a class="o-layout-flex__item" href="/">
      <svg aria-hidden="true" class="c-navbar__logo" role="img">
        <use xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>

    <div class="c-social-inline o-list-inline o-layout-flex__item">
      <a aria-label="Twitter" class="c-social-inline__item o-list-inline__item" href="/" target="_blank">
        <svg aria-hidden="true" class="c-social-inline__icon" role="img">
          <use xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a aria-label="Facebook" class="c-social-inline__item o-list-inline__item" href="/" target="_blank">
        <svg aria-hidden="true" class="c-social-inline__icon" role="img">
          <use xlink:href="#icon-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a aria-label="Instagram" class="c-social-inline__item o-list-inline__item" href="/" target="_blank">
        <svg aria-hidden="true" class="c-social-inline__icon" role="img">
          <use xlink:href="#icon-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
    </div>
  </div>
</header>