<header class="c-page-head is-fixed">
  <div class="c-navbar [ o-layout-flex o-layout-flex--space-between o-layout-flex--center ]">
    <a class="o-layout-flex__item" href="/">
      <svg aria-hidden="true" class="c-navbar__logo" role="img">
        <use xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>

    <div class="c-social-inline o-list-inline o-layout-flex__item">
      <a aria-label="Twitter" class="c-social-inline__item o-list-inline__item" href="/" target="_blank">
        <svg aria-hidden="true" class="c-social-inline__icon" role="img">
          <use xlink:href="#icon-twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a aria-label="Facebook" class="c-social-inline__item o-list-inline__item" href="/" target="_blank">
        <svg aria-hidden="true" class="c-social-inline__icon" role="img">
          <use xlink:href="#icon-facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>
      <a aria-label="Instagram" class="c-social-inline__item o-list-inline__item" href="/" target="_blank">
        <svg aria-hidden="true" class="c-social-inline__icon" role="img">
          <use xlink:href="#icon-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>

      <a aria-label="Instagram" class="c-social-inline__item o-list-inline__item js-nav-menu" href="/" target="_blank">
        <svg aria-hidden="true" class="c-social-inline__icon" role="img">
          <use xlink:href="#icon-instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </a>      
    </div>
  </div>
</header>

<aside class="c-sidebar">
  <nav class="c-nav-menu">
    <svg class="c-nav-menu__close js-nav-menu__close" xmlns="http://www.w3.org/2000/svg" width="50" height="40">
      <polygon points="39.4,30.4 29,20 39.4,9.6 35.4,5.6 25,16 14.6,5.6 10.6,9.6 21,20 10.6,30.4 14.6,34.4 25,24 35.4,34.4 "></polygon>
    </svg>
    <a href="/" class="nav-link nav-link--selected">Home</a>
    <a href="/" class="nav-link">News</a>
    <a href="/about" class="nav-link">Festivals</a>
    <a href="/work" class="nav-link ">Exhibitions</a>
    <a href="/labs" class="nav-link ">About</a>
    <a href="/contact" class="nav-link ">Contact</a>
  </nav>
</aside>