<section aria-labelledby="newsletter-headline" class="c-newsletter o-layout-flex__item u-flex-1/2">
  <h3 id="newsletter-headline">Newsletter</h3>
  <p>Stay up to date with the latest news.</p>
  <form action="https://carlislephotofestival.us8.list-manage.com/subscribe/post" method="post">
    <input type="hidden" name="u" value="f3e0b49052df8c835dec9c01d">
    <input type="hidden" name="id" value="d14157e627">
    <input aria-required="true" autocapitalize="off" autocorrect="off" class="c-newsletter__input c-input" id="MERGE0" name="MERGE0" placeholder="email address" type="email" value="">
    <button class="c-newsletter__button c-button" type="submit">
      <span class="c-button__icon">
        <svg class="c-newsletter__arrow c-button__arrow">
          <use xlink:href="#icon-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
        </svg>
      </span>
    </button>
  </form>
</section>
