<section class="c-partners [ c-band c-band--tall ]" data-section="Partners">
  <div class="o-wrapper">
    <ul class="c-partners__list o-list-inline">
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-2.png" alt="Arts Council England">
      </li>
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-1.png" alt="Carlisle City Council">
      </li>
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-3.png" alt="Cumbria County Council">
      </li>
      <li class="o-list-inline__item">
        <img class="c-partners__logo" src="images/sponsors-4.png" alt="University of Cumbria">
      </li>
    </ul>
  </div>
</section>
