<article class="c-teaser {{ include.modifier }}">
  <a class="c-teaser__link" href="/post.html">
    <div class="c-teaser__media">
      <img src="images/placeholder-square.jpg" alt="">
    </div>
    <div class="c-teaser__content">
      <div class="c-teaser__meta">
        <div class="c-teaser__badge [ c-badge c-badge--article ]">Blog</div>
        <time class="c-teaser__date">31 March 2017</time>
      </div>
      <h2 class="c-teaser__headline">Quisque vel rhoncus ex vitae tincidunt ex dolor sit amet</h2>
      <p class="c-teaser__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel rhoncus ex, vitae tincidunt ex.</p>
    </div>
  </a>
</article>
