/*------------------------------------*\
 # WRAPPER
\*------------------------------------*/

.o-wrapper {
  margin: 0 auto;
  max-width: 80rem;
  width: 100%;
}
.o-wrapper--narrow {
  max-width: 60rem;

  @include mq($from: medium) {
    padding: $spacing-unit-medium;
  }
}
