/*------------------------------------*\
 # LIST-INLINE
\*------------------------------------*/

.o-list-inline {
  margin: 0;
  padding: 0;

  > .o-list-inline__item {
    display: inline-block;
  }
}
