/*------------------------------------*\
 # WRAPPER
\*------------------------------------*/

.o-wrapper {
  margin: 0 auto;
  max-width: 80rem;
}

/*
@media (min-width: 64em) {
  .o-wrapper {
    width: 80%;
  }
}
*/
