/*------------------------------------*\
 # TRANSITION
\*------------------------------------*/

/*
 * Cross-browser support for transitions.
 *
 * Usage:
 *
 * @include mx-transition(color .3s ease);
*/

@mixin mx-transition($args) {
  -o-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}
