/*------------------------------------*\
 # PLACEHOLDER
\*------------------------------------*/

/*
textarea {
    @include input-placeholder {
        color: $grey;
    }
}
*/

@mixin mx-input-placeholder {
  &:-moz-placeholder {
    opacity: 1 !important;
  }
  &::-moz-placeholder {
    @content;
    opacity: 1 !important;
  }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &.placeholder { @content; }
}
