/*------------------------------------*\
 # RESET
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// TODO: clean up for more specific clears
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin:  0;
  padding: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

a, a:hover {
  text-decoration: none;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

// input
.c-input {
  @include mx-input-placeholder {
    color: $color-grey-dark;
  }
  border: 0;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 700;
  height: 3.5rem;
  outline: none;
  padding: #{$spacer / 4} #{$spacer / 2};
  width: 100%;
}
