/*------------------------------------*\
 # CONFIG
\*------------------------------------*/

// Config-level settings (environment switches, debugging modes, etc.).

$config: (
  env: dev,
  healthcheck: false,
  debug: false,
) !default;

// mq breakpoints
// https://github.com/sass-mq/sass-mq

$mq-breakpoints: (
  small:  720px,
  medium: 1024px,
  large:  1200px,
) !default;

// z-indexes

$z-indexes: (
  "page-menu__logo",
  "page-menu__trigger",
  "page-menu__social",
  "page-head",
  "badge",
  "masthead__content",
  "masthead__caption",
  "teaser__media",
  "teaser__content",
  "button__arrow"
) !default;
