/*------------------------------------*\
 # DOCUMENT
\*------------------------------------*/

/**
 * Styles for the document.
 */

html {
  font-family: $font-base-family;
  font-size: $font-base-size;
  font-weight: $font-base-weight;
  line-height: $font-base-line-height;
}