/*------------------------------------*\
 # HEADINGS
\*------------------------------------*/

/**
 * Styles for default headings.
 */

h1, h2, h3 {
  margin: 0 0 1.125rem;
}

h1 {
  font-size: $font-h1-size;
  font-weight: $font-h1-weight;
}

h2 {
  font-size: $font-h2-size;
  font-weight: $font-h2-weight;
}

h3 {
  font-size: $font-h3-size;
  font-weight: $font-h3-weight;
}
