/*------------------------------------*\
 # HEADINGS
\*------------------------------------*/

h2, h3 {
  line-height: 1.5rem;
  margin: 0 0 1.5rem;    
}

h1 {
  font-size: $font-h1-size;
  font-weight: $font-h1-weight;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
}

h2 {
  font-size: $font-h2-size;
  font-weight: $font-h2-weight;
}

h3 {
  font-size: $font-h3-size;
  font-weight: $font-h3-weight;
}
