/*------------------------------------*\
 # DONATE
\*------------------------------------*/

// donate
.c-donate {
  @include mx-clearfix();
  background-color: $color-brand-tertiary;
  padding: $spacing-unit-medium;
  text-align: center;

  @include mq($from: medium) {
    text-align: left;
  }
}
.c-donate {
  color: $color-grey-dark;
}

  // donate__button
  .c-donate__button {
    display: block;

    @include mq($from: medium) {
      display: inline-block;
      float: right;
    }
  }
