/*------------------------------------*\
 # NEWSLETTER
\*------------------------------------*/

// newsletter
.c-newsletter {
  @include mx-clearfix();
  background-color: $color-brand-secondary;
  padding: $spacing-unit-medium;
  text-align: center;

  @include mq($from: medium) {
    text-align: left;
  }
}

  // newsletter__input
  .c-newsletter__input {
    float: left;
    min-height: 3.5rem;
    width: calc(100% - 3.5rem);

    @include mq($from: medium) {
      width: 14rem;
    }
  }

  // newsletter__button
  .c-newsletter__button {
    float: left;
    height: 3.5rem;
    margin-left: -1px;
    padding: 0;
    width: 3.5rem;
  }

  // newsletter__arrow
  .c-newsletter__arrow {
    top: 4px;
    left: 3px;
  }
