/*------------------------------------*\
 # BAND
\*------------------------------------*/

// band
.c-band {
  padding: $spacing-unit-medium;
  position: relative;
}

// band--tall
.c-band--tall {
  padding: $spacing-unit-large $spacing-unit-medium;
}

// band--light
.c-band--light {
  background: $color-white;
}

// band--dark
.c-band--dark {
  background: $color-grey-dark;
  color: $color-white;
}

// band--secondary-tertiary
.c-band--secondary-tertiary {
  padding: 0;

  @include mq($from: medium) {
    background: linear-gradient(
      90deg,
      $color-brand-secondary 0%,
      $color-brand-secondary 50%,
      $color-brand-tertiary 50%,
      $color-brand-tertiary 100%
    );
  }

  .o-layout-flex {
    margin: 0;
  }
}