/*------------------------------------*\
 # NAV-PRIMARY
\*------------------------------------*/

.c-nav-primary {
  height: 0;
  opacity: 0;

  &.is-open {
    height: 75vh;
    opacity: 1;
  }
}
.c-nav-primary {
  background: linear-gradient(90deg, $color-brand-secondary 0%, $color-brand-secondary 50%, $color-brand-tertiary 50%, $color-brand-tertiary 100%);
}

.c-nav-primary__item {
  margin-bottom: 1.11vw;
}

.c-nav-primary__link {
  color: $color-black;
  font-size: 2.11vw;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  transition: all 0.3s;  
}

.is-open .o-layout-flex__item {
  padding: $spacer * 4;
}

.is-open h2 {
  line-height: 64px;
}