/*------------------------------------*\
 # PAGE-FOOT
\*------------------------------------*/

// page-foot
.c-page-foot {
  @include clearfix();
  padding: $spacer;
}
.c-page-foot {
  background-color: $color-grey-dark;
  color: $color-grey;
}

  // page-foot__list

  // page-foot__item
  .c-page-foot__item {
    margin-left: $spacer / 2;
    margin-right: $spacer / 2;
  }

  // c-page-foot__link

  // page-foot__text
  .c-page-foot__text {
    display: inline-block;
    margin-bottom: ($spacer / 2);
    margin-right: $spacer;

    @media screen and (min-width: 64em) {
      margin-bottom: 0;
    }
  }

  // page-foot__heart
  .c-page-foot__heart {
    height: 1rem;
    width: 1rem;
  }
  .c-page-foot__heart {
    fill: $color-red;
  }

  // page-foot__nav
  .c-page-foot__nav {
    margin-bottom: ($spacer / 2);
    margin-left: -($spacer / 4);
    margin-right: -($spacer / 4);
    
    @media screen and (min-width: 64em) {
      margin-bottom: 0;
    }
  }

  // page-foot__social
  .c-page-foot__social {
    margin-left: -($spacer / 2);
    margin-right: -($spacer / 2);

    @media screen and (min-width: 64em) {
      float: right;
    }

    .c-social__icon {
      fill: $color-white;
    }
  }