/*------------------------------------*\
 # NAV-SECONDARY
\*------------------------------------*/

// nav-secondary
.c-nav-secondary {
  display: inline-block;
  margin-bottom: $spacer / 2; // 1
}

  // nav-secondary__item
  .c-nav-secondary__item {
    display: block; // 2

    @include mq($from: medium) {
      display: inline-block; // 2   
    }
  }

  // nav-secondary__link
  .c-nav-secondary__link {
    margin-left: $spacer / 4;
    margin-right: $spacer / 4;
    transition: color 0.5s;
  }
  .c-nav-secondary__link {
    color: $color-white;
  }