/*------------------------------------*\
 # BUTTONS
\*------------------------------------*/

.c-button {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.c-button,
.c-button:visited {
  background-color: $color-brand-primary;
  color: $color-white;
}
.c-button:hover {
  background-color: $color-black;
  color: $color-white;
}

  .c-button__text {
    display: inline-block;
    margin-right: $spacer;  
  }

  .c-button__icon {
    display: inline-block;
    height: 1rem;
    overflow: hidden;
    position: relative;
    width: 2rem;
  }

  .c-button__arrow {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0.125rem;
    width: 100%;
  }
  .c-button__arrow {
    fill: transparent;
    stroke: $color-white;
  }