/*------------------------------------*\
 # HERO
\*------------------------------------*/

// hero
.c-hero {
  height: calc(85vh - #{$page-head-height});
  position: relative;
  width: 100%;
}
.c-hero {
  background-color: $color-grey-dark;
  color: $color-white;
}

  // hero__background
  .c-hero__background {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  // hero__content
  .c-hero__content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  // hero__article
  .c-hero__article {
    text-align: left;
    margin-right: 45%;
  }

  // hero__text
  .c-hero__text {
    font-size: 2rem;
    font-weight: 900;
  }

  // hero__button
