/*------------------------------------*\
 # SOCIAL
\*------------------------------------*/

// social
.c-social { }

  // social__text
  .c-social__text {
    float: left;
    font-weight: 900;
    margin-right: $spacer / 2;
    text-transform: uppercase;
  }

  // social__list
  .c-social__list {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  // social__item
  .c-social__item {
    display: block;
    flex: 0 0 auto;
    height: 100%;
  }

  // social__link
  .c-social__link { }

  // social__icon
  .c-social__icon {
    height: 1.25rem;
    width: 1.25rem;
  }
  .c-social__icon,
  .c-social__icon:hover {
    fill: $color-grey-dark;
  }
