/*------------------------------------*\
 # STORY
\*------------------------------------*/

.c-story {
  position: relative;
  margin-bottom: $spacer;
}

.c-story__masthead {
  display: block;
  padding-bottom: 1vw;
  width: 100%;
}

.c-story__media {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.c-story__title {
  margin-bottom: 1vw;
}

.c-story__author {
  text-decoration: underline;
}


.c-story__image-wrapper {
  background-color: #1b1b1b;
  position: relative;
  z-index: 0;
}

.c-story__content {
  left: 0;
  padding: ($spacer * 2);
  position: absolute;
  top: 0;
  z-index: 1;
}

.c-story__date {
  color: #80D8FF;
  display: inline-block;
  line-height: 30px;
  text-transform: uppercase;
}

.c-story__category {
  border-radius: 2px;
  display: inline-block;
  background-color: #80D8FF;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  margin-right: 7px; 
  color: $color-black;
}

.c-story__headline {
  margin-top: ($spacer /2 );
  color: $color-white;
  font-size: 48px;
  line-height: 48px;
  max-width: 468px;
}

.c-story__media2 {
  opacity: 0.75;
}

.c-story__link { }