/*------------------------------------*\
 # SPONSORS
\*------------------------------------*/

.c-sponsors {
  text-align: center;
}

.c-sponsors__list {
  margin-left: -2em;
  margin-right: -2em;
}
.c-sponsors__item {
  padding-left: 2em;
  padding-right: 2em;
}

@media (max-width: 63.9375em) {
  .c-sponsors__item {
    margin-bottom: $spacer;
    width: 100%;
  }
}

.c-sponsors__logo {
  height: 4.5rem;
  opacity: 0.5;
  width: auto;
}
