/*------------------------------------*\
 # STORY
\*------------------------------------*/

.c-story { }

.c-story__masthead {
  display: block;
  padding-bottom: 1vw;
  width: 100%;
}

.c-story__media {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.c-story__title {
  margin-bottom: 1vw;
}

.c-story__author {
  text-decoration: underline;
}
