/*------------------------------------*\
 # NEWS
\*------------------------------------*/

.c-news {}

.c-news__header {
  padding-left: 4rem;
  position: relative;
}

.c-news__meta {
  font-size: 0.875rem;
  font-weight: 900;
  text-transform: uppercase;
}

.c-news__title {
  max-width: 40rem;
}

.c-news__more {
  display: block;
}

.c-news__footer { }
