/*------------------------------------*\
 # BUTTONS
\*------------------------------------*/

.c-button {
  background-color: transparent;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.1rem;
  line-height: 1.5em;
  padding: 1em 1.5em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s ease;
}

.c-button,
.c-button:visited {
  background-color: #ff0024;
  color: #fff;
}
.c-button:hover {
  background-color: #000;
  color: #fff;
}

.c-button--inverse,
.c-button--inverse:visited {
  background-color: #fff;
  color: #ff0024;
}
