/*------------------------------------*\
 # NAV-PRIMARY
\*------------------------------------*/

.c-page-head__nav {
  text-align: center;
}

.c-page-head__social {
  text-align: right;
}

.c-nav-primary__link {
  color: $color-white;
}

.c-social-list {}
.c-social-list__icon {
  height: 1.5rem;
  width: 1.5rem;
}
.c-social-list__icon {
  fill: $color-white;
  transition: fill 0.25s ease;
}
.c-social-list__icon:hover {
  fill: $color-black;
}

.c-sidebar {
  background-color: $color-black;
  height: 75vh;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  &.is-open {
    opacity: 1;
    transition: opacity .5s;
    z-index: 10;
  }
}

.c-sidebar__social {

}

.c-nav-menu {
  font-size: 38px;
  padding-top: $spacer * 4;
  padding-right: $spacer * 2;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  z-index: 11;
}
  .nav-link {
    display: block;
    color: $color-white;
    margin-bottom: 2rem;
  }
  .nav-link--selected {
    color: $color-grey;
  }

  .js-nav-menu-text { }