/*------------------------------------*\
 # PAGE-MENU
\*------------------------------------*/

.c-page-menu {
  height: 100%;
  width: 100%;

  &.is-open {
    @include mx-transition(opacity .5s ease);
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-left: $spacing-unit-medium;
    padding-right: $spacing-unit-medium;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    .c-page-menu__nav {
      @include mx-visible;
    }

    .c-page-menu__link {
      margin-bottom: $spacing-unit-medium;
    }
    .c-page-menu__link:focus,
    .c-page-menu__link:hover, {
      background-color: transparent;
    }

    .c-page-menu__logo,
    .c-page-menu__trigger {
      height: 1.75 * $page-head-height;
      margin-bottom: 0;
    }

    .c-page-menu__trigger {
      @include mx-visible;
    }

    .c-nav-primary {
      margin-top: 2* $spacing-unit-large;

      .c-nav-primary__list {
        align-items: center;
        flex-flow: column wrap;
      }
    }

    .c-page-menu__social {
      @include mx-visible;
      bottom: 0;
      height: 4rem;
      left: 0;
      right: 0;
      top: auto;
    }
  }

  &.is-open {
    background-image: linear-gradient(
      348deg,
      #9e5578 14%,
      #98567a 17%,
      #98567a 0,
      #695a88 42%,
      #615b8b 46%,
      #615b8b 0,
      #605b8b 47%,
      #5a5c8d 50%,
      #4e5081 69%,
      #3b3d6d
    );  
  }
}

  // page-menu__logo
  .c-page-menu__logo {
    left: $spacer / 2;
    position: absolute;
    top: 0;
    z-index: z('page-menu__logo');
  }

  // page-menu__trigger
  .c-page-menu__trigger {
    font-weight: 700;
    letter-spacing: 0.1rem;
    position: absolute;
    right: $spacing-unit;
    text-transform: uppercase;
    top: 0;
    z-index: z('page-menu__trigger');

    @include mq($from: medium) {
      @include mx-invisible;
    }
  }

  // page-menu__nav
  .c-page-menu__nav {
    @include mx-invisible;
    height: 100%;

    @include mq($from: medium) {
      @include mx-visible;
    }
  }

  // page-menu__social
  .c-page-menu__social {
    @include mx-invisible;
    bottom: 0;
    height: 100%;
    left: $spacing-unit;
    position: absolute;
    z-index: z('page-menu__social');

    @include mq($from: medium) {
      @include mx-visible;
      bottom: auto;
      left: auto;
      right: $spacing-unit;
      top: 0;
    }

    .c-social__icon,
    .c-social__icon:hover {
      fill: $color-white;
    }
  }

  // page-menu__link
  .c-page-menu__link {
    align-items: center;
    display: flex;
    height: 100%;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  .c-page-menu__link  {
    @include mx-transition(background-color .5s ease);
    color: $color-white;
  }
  .c-page-menu__link:focus,
  .c-page-menu__link:hover {
    background-color: $color-grey-dark;
    color: $color-white;
  }
