/*------------------------------------*\
 # BAND
\*------------------------------------*/

// band
.c-band {
  padding: ($spacer) ($spacer * 3);
}

// band--red
.c-band--red {
  background-color: $color-brand-primary;
  color: $color-white;
}

// band--dark
.c-band--dark {
  background-color: $color-grey-dark;
  color: $color-white;
}

// band--secondary-tertiary
.c-band--secondary-tertiary {
  background: linear-gradient(90deg, $color-brand-secondary 0%, $color-brand-secondary 50%, $color-brand-tertiary 50%, $color-brand-tertiary 100%);
}