/*------------------------------------*\
 # SCROLL
\*------------------------------------*/

.c-scroll:before {
  bottom: 30px;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #ff0024;
  border-radius: 100%;
  animation: c-scroll 2s infinite;
}

.c-scroll {
  top: 85%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #ff0024;
  border-radius: 50px;
}
@keyframes c-scroll {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
