/*------------------------------------*\
 # PAGE-HEAD
\*------------------------------------*/

// page-head
.c-page-head {
  @include mx-transition(height .5s ease);
  display: block;
  height: $page-head-height;
  width: 100%;

  &.is-fixed {
    left: 0;
    position: fixed;
    top: 0;
    z-index: z('page-head');
  }
}
.c-page-head {
  background-color: $color-brand-primary;
  color: $color-white;
}

.c-page-head--large {
  height: 1.75 * $page-head-height;

  @include mq($from: medium) {
    @include mx-transition(height .5s ease);
    height: 2 * $page-head-height;
  }
}
