/*------------------------------------*\
 # BLOG
\*------------------------------------*/

.c-blog {
  @include mx-clearfix();
}

.c-blog__meta {
  line-height: $spacing-unit-medium;
  margin-bottom: $spacing-unit-medium;
}

.c-blog__author,
.c-blog__date,
.c-blog__share {
  font-weight: 900;
  display: inline-block;
  text-transform: uppercase;
}
.c-blog__author,
.c-blog__date,
.c-blog__share {
  color: $color-grey-dark;
}
.c-blog__social {
  float: right;
}
