/*------------------------------------*\
 # NEWSLETTER
\*------------------------------------*/

// newsletter
.c-newsletter {
  @include clearfix();
  background-color: $color-brand-secondary;
  padding: $spacer !important; // todo: fix to remove !important
  text-align: center;
}

  // newsletter__input
  .c-newsletter__input {
    float: left;
    min-height: 3.5rem;
    width: calc(100% - 3.5rem);
  }

  // newsletter__button
  .c-newsletter__button {
    float: left;
    height: 3.5rem;
    margin-left: -1px;
    padding: 0;
    width: 3.5rem;
  }

  // newsletter__arrow
  .c-newsletter__arrow {
    top: 4px;
    left: 3px;
  }

//  media
@media (min-width: 64em) {
  .c-newsletter {
    text-align: left;
  }
  .c-newsletter__input {
    width: 14rem;
  }
}