/*------------------------------------*\
 # BADGE
\*------------------------------------*/

// badge
.c-badge {
  border-radius: 2px;
  display: inline-block;
  font-weight: 900;
  height: 2rem;
  letter-spacing: 0.025em;
  line-height: 2rem;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

// badge--blog-page
.c-badge--blog-page {
  background-color: $color-brand-tertiary;
  color: $color-grey-dark;
}

// badge--blog-post
.c-badge--blog-post {
  background-color: $color-brand-secondary;
  color: $color-grey-dark;
}
