/*------------------------------------*\
 # NEWSLETTER
\*------------------------------------*/

// newsletter
.c-newsletter {
  @include clearfix();
  padding-right: $spacer !important; // todo: fix to remove !important
}

  // newsletter__input
  .c-newsletter__input {
    float: left;  
    min-height: 3.5rem;
    width: 18rem;
  }

  // newsletter__button
  .c-newsletter__button {
    float: left;
    height: 3.5rem;
    margin-left: -1px;
    padding: 0;
    width: 3.5rem;
  }

  // newsletter__arrow
  .c-newsletter__arrow {
    top: 4px;
    left: 3px;
  }
