/*------------------------------------*\
 # SUBSCRIBE
\*------------------------------------*/

.c-subscribe {
  padding-bottom: $spacer;
  padding-top: $spacer;
  padding-right: ($spacer * 2);  
}

.c-donate {
  padding: $spacer ($spacer * 2);
  position: relative;
}

.c-donate__button {
   float: right;
   margin-right: -($spacer * 2);
}