/*------------------------------------*\
 # MASTHEAD
\*------------------------------------*/

.c-masthead {
  height: calc(100vh - #{$page-head-height});
  position: relative;
  width: 100%;
}
.c-masthead {
  background-color: $color-grey-dark;
}
.c-masthead__background {
  background-attachment: fixed;
  background-image: url("../images/placeholder.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.c-masthead__content {
  z-index: 1;
}

.c-masthead__button {
  margin-top: ($spacer / 2);
}
