/*------------------------------------*\
 # PAGE-HEAD
\*------------------------------------*/

.c-page-head {
  height: $page-head-height;
  padding-left: $page-head-padding-y;
  padding-right: $page-head-padding-y;
  width: 100%;

  &.is-fixed {
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    z-index: 1;
  }
}

.c-page-head {
  background-color: $color-brand-primary;
  color: $color-brand-secondary;
}

  .c-page-head__logo {
    height: 1.5rem;
    width: 1.5rem;
  }
  .c-page-head__logo {
    fill: $color-brand-secondary;
  }
