/*------------------------------------*\
 # NEWS
\*------------------------------------*/

.c-news {}

.c-news__header {
  padding-left: 4rem;
  margin-bottom: ($spacer * 6);
  position: relative;
}

.c-news__meta {
  font-size: 0.875rem;
  font-weight: 900;
  margin-bottom: ($spacer * 3);
  text-transform: uppercase;
}

.c-news__title {
  max-width: 40rem;
}

.c-news__more {
  display: block;
  margin-top: ($spacer *6);
  margin-bottom: ($spacer * 6);
}

.c-news__footer { }
