/*------------------------------------*\
 # SPONSORS
\*------------------------------------*/

.c-sponsors {}

.c-sponsors__headline {
  margin-bottom: 2rem;
}

.c-sponsors__list {
  margin-left: -2em;
  margin-right: -2em;
}
.c-sponsors__item {
  padding-left: 2em;
  padding-right: 2em;
}

.c-sponsors__logo {
  height: 5rem;
}
