/*------------------------------------*\
 # NAV-SECONDARY
\*------------------------------------*/

// nav-secondary
.c-nav-secondary {
  display: inline-block;
  margin-bottom: $spacer / 2; // 1

  // nav-secondary__item
  > li {
    display: block; // 2

    @include mq($from: medium) {
      display: inline-block; // 2
    }

    // nav-secondary__link
    > a {
      @include mx-transition(color .5s ease);
      margin-left: $spacer / 4;
      margin-right: $spacer / 4;
    }
    > a {
      color: $color-white;
    }
  }
}

