/*------------------------------------*\
 # BAND
\*------------------------------------*/

// band
.c-band {
  padding-top: ($spacer * 1.5);
  padding-bottom: ($spacer * 1.5);
}

// band--red
.c-band--red {
  background-color: #ff0024;
  color: #fff;
}

// band--parallax
.c-band--parallax {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 50vh;
}
.c-band--parallax {
  background-color: $color-grey-dark;
}
.c-band--parallax {
  background-image: url("../images/placeholder.jpg");
}
