/*------------------------------------*\
 # PARTNERS
\*------------------------------------*/

// partners
.c-partners {
  text-align: center;
}

  // partners__list
  .c-partners__list {
    align-items: center;
    justify-content: center;
  }

  // partners__item

  // partners__logo
  .c-partners__logo {
    height: 4.5rem;
    opacity: 0.5;
    margin-bottom: $spacer; // 1
    padding-left: $spacer;
    padding-right: $spacer;
    width: auto;

    @media screen and (min-width: 64em) {
      margin-bottom: 0; // 1
    }
  }
