/*------------------------------------*\
 # HERO
\*------------------------------------*/

// hero
.c-hero {
  height: 100vh;
  position: relative;
  width: 100%;

  @media screen and (min-width: 64em) {
    height: calc(85vh - #{$page-head-height});
  }  
}
.c-hero {
  background-color: $color-black;
  color: $color-white;
}
  // hero__media
  .c-hero__media {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  // hero__photo
  // hero__video
  .c-hero__photo,
  .c-hero__video {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .c-hero__photo {
    opacity: 0;
    visibility: hidden;
  }

  // hero__content
  .c-hero__content {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    padding: $spacer;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  // hero__article
  .c-hero__article {
    text-align: left;
    
    @media screen and (min-width: 64em) {
      margin-right: 55%;
    }
  }

  // hero__headline
  .c-hero__headline {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;

    @media screen and (min-width: 64em) {
      font-size: 4.5rem;
      margin-bottom: 1.5rem;
    }    
  }

  // hero__text
  .c-hero__text {
    font-size: 1.5rem;
    font-weight: 900;

    @media screen and (min-width: 64em) {
      font-size: 1.75rem;
    }
  }

  // hero__button
  .c-hero__button {
    display: block;

    @media screen and (min-width: 64em) {
      display: inline-block;
    }    
  }