/*------------------------------------*\
 # SPONSORS
\*------------------------------------*/

.c-sponsors {
  text-align: center;
}

.c-sponsors__list {
  margin-left: -2em;
  margin-right: -2em;
}
.c-sponsors__item {
  padding-left: 2em;
  padding-right: 2em;
}

.c-sponsors__logo {
  height: 4.5rem;
  opacity: 0.5;
  width: auto;
}
