/*------------------------------------*\
 # PAGE-FOOT
\*------------------------------------*/

// page-foot
.c-page-foot {
  @include mx-clearfix();
  padding: $spacing-unit-medium;
  text-align: center;

  @include mq($from: medium) {
    text-align: left;
  }
}
.c-page-foot {
  background-color: $color-grey-dark;
  color: $color-grey;
}

  // page-foot__list

  // page-foot__item

  // c-page-foot__link

  // page-foot__text
  .c-page-foot__text {
    display: inline-block;
    margin-bottom: $spacing-unit-small;


    @include mq($from: medium) {
      margin-bottom: 0;
      margin-right: $spacing-unit-medium;
    }
  }

  // page-foot__heart
  .c-page-foot__heart {
    height: 1rem;
    width: 1rem;
  }
  .c-page-foot__heart {
    fill: $color-red;
  }

  // page-foot__nav
  .c-page-foot__nav {
    margin-bottom: $spacing-unit-small;
    margin-left: -$spacing-unit-tiny;
    margin-right: -$spacing-unit-tiny;

    @include mq($from: medium) {
      margin-bottom: 0;
    }
  }

  // page-foot__social
  .c-page-foot__social {
    margin-left: -$spacing-unit-small;
    margin-right: -$spacing-unit-small;

    @include mq($from: medium) {
      float: right;
    }

    .c-social__icon {
      fill: $color-white;
    }
  }
