/*------------------------------------*\
 # ABOUT
\*------------------------------------*/

// about
.c-about {
  margin-bottom: $spacer * 3;
}

  // about__content
  .c-about__content {
    margin-bottom: $spacer;
    margin-top: $spacer;
  }

  // about__body (dash)
  .c-about__body {
    position: relative;
  }
  .c-about__body:before {
    content: '';
    height: 3px;
    left: $spacer;
    position: absolute;
    top: 0;
    width: 8rem;
  }
  .c-about__body:before {
    background: $color-brand-tertiary;
  }