/*------------------------------------*\
 # PARTNERS
\*------------------------------------*/

// partners
.c-partners {
  text-align: center;
}

  // partners__list

  // partners__item

  // partners__logo
  .c-partners__logo {
    height: 4.5rem;
    opacity: 0.5;
    padding-left: $spacer;
    padding-right: $spacer;
    width: auto;
  }