/*------------------------------------*\
 # PAGE-MENU
\*------------------------------------*/

.c-page-menu {
  height: 100%;
  width: 100%;

  &.is-open {
    bottom: 0;
    left: 0;
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    transition: opacity .5s;
    z-index: 10;

    .c-page-menu__nav {
      visibility: visible;
      opacity: 1;
    }

    .c-page-menu__link {
      height: 4rem;
    }

    .c-page-menu__trigger {
      opacity: 1;
      visibility: visible;
    }

    .c-nav-primary {
      margin-top: $spacer * 2;

      .c-nav-primary__list {
        flex-direction: column;
      }

      .c-nav-primary__link {
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: none;
      }      
    }

    .c-page-menu__social {
      bottom: 0;
      height: 4rem;
      left: 0;
      opacity: 1;
      right: 0;
      top: auto;
      visibility: visible;
    }
    .c-page-menu__social {
      background-color: $color-brand-tertiary;

      .c-social__icon {
        fill: $color-black;
      }      
    }
  }

  &.is-open {
    background-color: $color-black;
  }
}

  // page-menu__logo
  .c-page-menu__logo {
    left: $spacer / 2;
    position: absolute;
    top: 0;
    z-index: 11;
  }

  // page-menu__trigger
  .c-page-menu__trigger {
    font-weight: 700;
    letter-spacing: 0.1rem;
    position: absolute;
    right: $spacer / 2;
    text-transform: uppercase;
    top: 0;
    z-index: 11;

    @media screen and (min-width: 64em) {
      opacity: 0;
      visibility: hidden;
    }
  }

  // page-menu__nav
  .c-page-menu__nav {
    height: 100%;
    opacity: 0;
    visibility: hidden;

    @media screen and (min-width: 64em) {
      opacity: 1;
      visibility: visible;
    }
  }

  // page-menu__social
  .c-page-menu__social {
    bottom: 0;
    height: 100%;
    left: $spacer / 2;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 11;

    @media screen and (min-width: 64em) {
      bottom: auto;
      left: auto;
      opacity: 1;
      right: $spacer / 2;
      top: 0;
      visibility: visible;
    }
  }

  // page-menu__link
  .c-page-menu__link {
    align-items: center;
    display: flex;
    height: 100%;
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
  }
  .c-page-menu__link  {
    color: $color-white;
    transition: background-color .5s;
  }
  .c-page-menu__link:hover {
    background-color: $color-black;
    color: $color-white;
  }
