/*------------------------------------*\
 # NAV-PRIMARY
\*------------------------------------*/

.c-sidebar {
  background-color: $color-grey-dark;
  bottom: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;  
  position: fixed;
  right: 0;
  top: 0;
  width: 25rem;
  z-index: -1;

  &.is-open {
    opacity: 1;
    z-index: 10;
  }
}

.c-nav-menu {
  font-size: 38px;
  background-color: #111;
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  padding: 120px 90px;
}

  .c-nav-menu__close {
    cursor: pointer;
    font-size: 28px;
    line-height: 1.6;
    margin: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .c-nav-menu__close {
    fill: $color-white;
  }

  .nav-link {
    display: block;
    color: $color-white;
  }
  .nav-link--selected {
    color: $color-brand-primary;
  }