/*------------------------------------*\
 # ABOUT
\*------------------------------------*/

// about
.c-about { }

  .c-about__years,
  .c-about__team {
    margin-bottom: -$spacing-unit-medium;
  }

  // about__partners
  .c-about__partners {
    @include mq($from: medium) {
      margin-left: -12 * $spacing-unit;
      margin-right: -12 * $spacing-unit;
    }
  }


  // about__person
  .c-about__person {
    flex-basis: 50% !important;
    max-width: 50%!important;

    @include mq($from: medium) {
      flex-basis: 33.33333333% !important;
      max-width: 33.33333333% !important;
    }
  }
